In [1]:
import numpy as np
import pandas as pd
data={"employee":["Umesh","Prasad","Sambhaji","Om","Vikram","Tejas","Prafull"],
      "id":[101,102,103,104,105,106,107],
       "city":["pune","alandi","satara","mumbai","bengluar","delhi","kolkta"]
      }
df=pd.DataFrame(data)
print(df)

   employee   id      city
0     Umesh  101      pune
1    Prasad  102    alandi
2  Sambhaji  103    satara
3        Om  104    mumbai
4    Vikram  105  bengluar
5     Tejas  106     delhi
6   Prafull  107    kolkta

__Selection Only Columns__

In [2]:
print(df[['employee','id']])

   employee   id
0     Umesh  101
1    Prasad  102
2  Sambhaji  103
3        Om  104
4    Vikram  105
5     Tejas  106
6   Prafull  107

__Adding Columns in data frame__

In [3]:
department=['SALES','HR','PRODUCTION','ACCOUNTANT','TESTING','DEVELOPERS','QA']
df['Department']=department
print(df)

   employee   id      city  Department
0     Umesh  101      pune       SALES
1    Prasad  102    alandi          HR
2  Sambhaji  103    satara  PRODUCTION
3        Om  104    mumbai  ACCOUNTANT
4    Vikram  105  bengluar     TESTING
5     Tejas  106     delhi  DEVELOPERS
6   Prafull  107    kolkta          QA

In [4]:
#we add another column
age=[20,19,20,22,21,22,21]
df['Age']=age
print(df)

   employee   id      city  Department  Age
0     Umesh  101      pune       SALES   20
1    Prasad  102    alandi          HR   19
2  Sambhaji  103    satara  PRODUCTION   20
3        Om  104    mumbai  ACCOUNTANT   22
4    Vikram  105  bengluar     TESTING   21
5     Tejas  106     delhi  DEVELOPERS   22
6   Prafull  107    kolkta          QA   21

  __Value Deletion(Dropping Rows)__

In [5]:
#we are deleting column by using drop
import numpy as np
import pandas as pd
df.to_csv("employee_info.csv",index=False)

In [6]:
print(df)

   employee   id      city  Department  Age
0     Umesh  101      pune       SALES   20
1    Prasad  102    alandi          HR   19
2  Sambhaji  103    satara  PRODUCTION   20
3        Om  104    mumbai  ACCOUNTANT   22
4    Vikram  105  bengluar     TESTING   21
5     Tejas  106     delhi  DEVELOPERS   22
6   Prafull  107    kolkta          QA   21

In [7]:
#now read the csv file
data1=pd.read_csv("employee_info.csv",index_col='employee')

#droppig passed value
data1.drop(['Umesh','Vikram'],inplace=True)

print(data1)

           id    city  Department  Age
employee
Prasad    102  alandi          HR   19
Sambhaji  103  satara  PRODUCTION   20
Om        104  mumbai  ACCOUNTANT   22
Tejas     106   delhi  DEVELOPERS   22
Prafull   107  kolkta          QA   21

__Now we drop Columns__

In [8]:
data1.drop(['id'],inplace=True,axis=1)#axis=0(For Rows) & axis=1(For Columns)

In [9]:
print(data1)

            city  Department  Age
employee
Prasad    alandi          HR   19
Sambhaji  satara  PRODUCTION   20
Om        mumbai  ACCOUNTANT   22
Tejas      delhi  DEVELOPERS   22
Prafull   kolkta          QA   21

__We will try to delete value if what value is not present__

In [10]:
data1.drop(['suraj'],inplace=True,errors='ignore')
print(data1)

            city  Department  Age
employee
Prasad    alandi          HR   19
Sambhaji  satara  PRODUCTION   20
Om        mumbai  ACCOUNTANT   22
Tejas      delhi  DEVELOPERS   22
Prafull   kolkta          QA   21

__loc Methood__
Pandas provide a unique method to retrieve rows from a Data frame. DataFrame.loc[] method is a method that takes only index labels and returns row or dataframe if the index label exists in the caller data frame.

Syntax: pandas.DataFrame.loc[]

In [11]:
#retrieving row by loc method
print(df)

   employee   id      city  Department  Age
0     Umesh  101      pune       SALES   20
1    Prasad  102    alandi          HR   19
2  Sambhaji  103    satara  PRODUCTION   20
3        Om  104    mumbai  ACCOUNTANT   22
4    Vikram  105  bengluar     TESTING   21
5     Tejas  106     delhi  DEVELOPERS   22
6   Prafull  107    kolkta          QA   21

In [12]:
print(data1)

            city  Department  Age
employee
Prasad    alandi          HR   19
Sambhaji  satara  PRODUCTION   20
Om        mumbai  ACCOUNTANT   22
Tejas      delhi  DEVELOPERS   22
Prafull   kolkta          QA   21

In [13]:
rs1=data1.loc['Prasad']
print(rs1)

city          alandi
Department        HR
Age               19
Name: Prasad, dtype: object

In [14]:
#if i want two rows then
rs2=data1.loc['Prasad']
rs3=data1.loc['Sambhaji']
print(f"{rs2}\n\n{rs3}")

city          alandi
Department        HR
Age               19
Name: Prasad, dtype: object

city              satara
Department    PRODUCTION
Age                   20
Name: Sambhaji, dtype: object

In [15]:
#retriveing two or more indexes
rs4=data1.loc['Prasad':'Tejas']
print(rs4)

            city  Department  Age
employee
Prasad    alandi          HR   19
Sambhaji  satara  PRODUCTION   20
Om        mumbai  ACCOUNTANT   22
Tejas      delhi  DEVELOPERS   22

__iloc methood__
The Pandas library provides a unique method to retrieve rows from a Data Frame. Dataframe.iloc[] method is used when the index label of a data frame is something other than numeric series of 0, 1, 2, 3….n or in case the user doesn’t know the index label. Rows can be extracted using an imaginary index position which isn’t visible in the data frame.

Syntax: pandas.DataFrame.iloc[]

In [16]:
rs5=data1.iloc[3:4]
print(rs5)

           city  Department  Age
employee
Tejas     delhi  DEVELOPERS   22

In [17]:
rs6=data1.iloc[0:4]
print(rs6)

            city  Department  Age
employee
Prasad    alandi          HR   19
Sambhaji  satara  PRODUCTION   20
Om        mumbai  ACCOUNTANT   22
Tejas      delhi  DEVELOPERS   22

In [18]:
rs7=data1.iloc[[0,3,4]]
print(rs7)

            city  Department  Age
employee
Prasad    alandi          HR   19
Tejas      delhi  DEVELOPERS   22
Prafull   kolkta          QA   21

In [19]:
rs8=data1.iloc[2:4]
print(rs8)

            city  Department  Age
employee
Om        mumbai  ACCOUNTANT   22
Tejas      delhi  DEVELOPERS   22

In [20]:
print(df)

   employee   id      city  Department  Age
0     Umesh  101      pune       SALES   20
1    Prasad  102    alandi          HR   19
2  Sambhaji  103    satara  PRODUCTION   20
3        Om  104    mumbai  ACCOUNTANT   22
4    Vikram  105  bengluar     TESTING   21
5     Tejas  106     delhi  DEVELOPERS   22
6   Prafull  107    kolkta          QA   21

In [21]:
#if in want particular index and particular column
rs9=df.loc[[0,2],['employee','city']]
print(rs9)

   employee    city
0     Umesh    pune
2  Sambhaji  satara

In [22]:
#now i want city & Department of 3,4
rs10=df.loc[[3,4],['city','Department']]
print(rs10)

       city  Department
3    mumbai  ACCOUNTANT
4  bengluar     TESTING

In [23]:
#now if i want all the indexes only with city & department column
rs11=df.loc[:,['city','Department']]
print(rs11)

       city  Department
0      pune       SALES
1    alandi          HR
2    satara  PRODUCTION
3    mumbai  ACCOUNTANT
4  bengluar     TESTING
5     delhi  DEVELOPERS
6    kolkta          QA

In [24]:
rs12=df.loc[:4,['employee','Department']]
print(rs12)

   employee  Department
0     Umesh       SALES
1    Prasad          HR
2  Sambhaji  PRODUCTION
3        Om  ACCOUNTANT
4    Vikram     TESTING