__Iterating_over_rows_and_columns__

Iteration is a general term for taking each item of something, one after another. Pandas DataFrame consists of rows and columns so, in order to iterate over dataframe, we have to iterate a dataframe like a dictionary. In a dictionary, we iterate over the keys of the object in the same way we have to iterate in dataframe

In [1]:
import pandas as pd
import numpy as np

df=pd.read_csv("employee_info.csv")
print(df)

   employee   id      city  Department  Age
0     Umesh  101      pune       SALES   20
1    Prasad  102    alandi          HR   19
2  Sambhaji  103    satara  PRODUCTION   20
3        Om  104    mumbai  ACCOUNTANT   22
4    Vikram  105  bengluar     TESTING   21
5     Tejas  106     delhi  DEVELOPERS   22
6   Prafull  107    kolkta          QA   21

__Iterating rows__

Iterating over rows :<br>
In order to iterate over rows, we can use three function iteritems(), iterrows(), itertuples() . These three function will help in iteration over rows.

Iteration over rows using iterrows() :<br>
In order to iterate over rows, we apply a iterrows() function this function returns each index value along with a series containing the data in each row.

In [2]:
for i,j in df.iterrows():
    print(i,j)
    print()

0 employee      Umesh
id              101
city           pune
Department    SALES
Age              20
Name: 0, dtype: object

1 employee      Prasad
id               102
city          alandi
Department        HR
Age               19
Name: 1, dtype: object

2 employee        Sambhaji
id                   103
city              satara
Department    PRODUCTION
Age                   20
Name: 2, dtype: object

3 employee              Om
id                   104
city              mumbai
Department    ACCOUNTANT
Age                   22
Name: 3, dtype: object

4 employee        Vikram
id                 105
city          bengluar
Department     TESTING
Age                 21
Name: 4, dtype: object

5 employee           Tejas
id                   106
city               delhi
Department    DEVELOPERS
Age                   22
Name: 5, dtype: object

6 employee      Prafull
id                107
city           kolkta
Department         QA
Age                21
Name: 6, dtype: object

__Iteration over rows using iteritems()__<br>
In order to iterate over rows, we use iteritems() function this function iterates over each column as key, value pair with the label as key, and column value as a Series object

In [3]:
for key,value in df.iteritems():
    print(key,value)
    print()

employee 0       Umesh
1      Prasad
2    Sambhaji
3          Om
4      Vikram
5       Tejas
6     Prafull
Name: employee, dtype: object

id 0    101
1    102
2    103
3    104
4    105
5    106
6    107
Name: id, dtype: int64

city 0        pune
1      alandi
2      satara
3      mumbai
4    bengluar
5       delhi
6      kolkta
Name: city, dtype: object

Department 0         SALES
1            HR
2    PRODUCTION
3    ACCOUNTANT
4       TESTING
5    DEVELOPERS
6            QA
Name: Department, dtype: object

Age 0    20
1    19
2    20
3    22
4    21
5    22
6    21
Name: Age, dtype: int64

C:\Users\DELL\AppData\Local\Temp\ipykernel_15056\3213643302.py:1: FutureWarning: iteritems is deprecated and will be removed in a future version. Use .items instead.
  for key,value in df.iteritems():

__Iteration over rows using itertuples()__<br>
In order to iterate over rows, we apply a function itertuples() this function return a tuple for each row in the DataFrame. The first element of the tuple will be the rowâ€™s corresponding index value, while the remaining values are the row value

In [4]:
for i in df.itertuples():
    print(i)
    print()

Pandas(Index=0, employee='Umesh', id=101, city='pune', Department='SALES', Age=20)

Pandas(Index=1, employee='Prasad', id=102, city='alandi', Department='HR', Age=19)

Pandas(Index=2, employee='Sambhaji', id=103, city='satara', Department='PRODUCTION', Age=20)

Pandas(Index=3, employee='Om', id=104, city='mumbai', Department='ACCOUNTANT', Age=22)

Pandas(Index=4, employee='Vikram', id=105, city='bengluar', Department='TESTING', Age=21)

Pandas(Index=5, employee='Tejas', id=106, city='delhi', Department='DEVELOPERS', Age=22)

Pandas(Index=6, employee='Prafull', id=107, city='kolkta', Department='QA', Age=21)

__Iterating over Columns :__ <br>
In order to iterate over columns, we need to create a list of dataframe columns and then iterating through that list to pull out the dataframe columns

In [5]:
'''
Now we iterate through columns in order to iterate through 
columns we first create a list of dataframe columns and then iterate through list
'''

columns=list(df)
for i in columns:
    print(i)

employee
id
city
Department
Age

In [6]:
#Now we access the value
for j in columns:
    print(df[j][3])

Om
104
mumbai
ACCOUNTANT
22